*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F29E4C;
}

h1{
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px black;
    font-size: 42px;
    padding: 2%;
}

textarea{
    margin-bottom: 4%;
    background-color: #EFEA5A;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #01333e inset;
}

.txt-container{
    padding: 5px;
}

.main-section{
    margin: 5%;
    background-color: #048BA8;
    border-radius: 5px;
    border: none;
    box-shadow: 10px 10px 10px #01333e;
    height: 85vh;
}

.flex-container{
    background-color: #F29E4C;
    height: 57.5%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    border: solid 2px black;
    border-radius: 5px;
    margin: 2%;
    box-shadow: 10px 10px 10px #01333e;
}

.flex-item{
    height: 98.5%;  
    flex-grow: 1;
}

.itemA{
    padding: 2%;
    margin: 5px 2.5px 5px 5px;
}

.itemB{
    margin: 5px 5px 5px 2.5px;
    width: 95%;
    flex-grow: 1;
}

p, textarea{
    text-align: center;
}

textarea{
    margin: 5px 2.5px 5px 5px;
}

.btnStyle{
    width: 45%;
    display: inline-block;
    margin: 2%;
    height: 32px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    transition: .5s;
}

.btnEn{
    background-color: #A4036F;
    box-shadow: 5px 5px 5px #4c0033d3;
}

.btnDen{
    background-color: #16DB93;
    box-shadow: 5px 5px 5px #00452c;
}

@media only screen and (max-width: 600px) {
    .flex-container{
        display: flex;
        flex-direction: column;
    }
    .flex-item{
        padding: 2%;
        height: 95%;
        margin: 5px;
        flex-grow: 1;
    }
}

.btnStyle:hover{
    box-shadow: 5px 5px 5px rgb(58, 58, 58) inset;
    transition: 1s;
    font-size: 12px;
}


















































































